# Python Virtual Environment
venv/
.venv/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# macOS artifacts
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs & temp
*.log
/tmp/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Build & Distribution Artifacts
dist/
*.dmg

